@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@font-face {
  src: url("fonts/Antikvarika.ttf");
  font-family: "Bukhari";
}
@font-face {
  src: url("fonts/Trafit.ttf");
  font-family: "Montserrat";
}
*::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

* {
  -ms-overflow-style: none;
}

body {
  background-color: #81D8D0;
  width: 100%;
  height: 100%;
}

.container {
  padding: 0 15rem;
}

.header {
  height: 100vh;
  display: flex;
  background-color: black;
}

.header-img {
  width: 60%;
  height: 100vh;
  background: url("imgs/header.JPG") no-repeat center;
  background-size: cover;
}

.header-logo {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5em 0;
}
.header-logo__logo {
  font-family: Bukhari, sans-serif;
  font-weight: 700;
  font-style: italic;
  display: block;
  position: absolute;
  color: #81D8D0;
  letter-spacing: -0.005em;
}
.header-logo__logo::before, .header-logo__logo::after {
  content: attr(data-text);
  display: block;
  position: relative;
  padding: 0 0.1em;
  z-index: 1;
}
.header-logo__logo::before {
  position: absolute;
  -webkit-text-stroke: 0.1em black !important;
  z-index: 0;
}
.header-logo__logo:first-child {
  transform: translate(-0.255em, -0.25em);
}
.header-logo__logo:last-child {
  transform: translate(0.255em, 0.25em);
}
.header-logo__wrapper {
  font-size: 64px;
  height: 2em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: screen;
  position: relative;
}
.header-logo__des {
  text-align: center;
  font-size: 40px;
  font-family: Montserrat, sans-serif;
  color: #81D8D0;
}

.portfolio {
  width: 100%;
}
.portfolio__text {
  color: black;
  font-size: 64px;
  margin: 40px;
  text-align: center;
  font-family: Bukhari, sans-serif;
}

.video-cards {
  display: flex;
  width: 100%;
  background-color: black;
  justify-content: center;
  height: 170vh;
  overflow-y: scroll;
}
.video-cards__cards-column {
  display: flex;
  flex-direction: column;
}
.video-cards__cards-column[data-index="1"] {
  justify-content: flex-start;
}
.video-cards__cards-column[data-index="2"] {
  justify-content: flex-end;
}
.video-cards__card {
  width: 350px;
  height: 700px;
  background-color: #1C1C1C;
  margin: 20px;
  border-radius: 10px;
}
.video-cards__card .video-wrapper {
  position: relative;
  width: 350px;
  height: 600px;
  overflow: hidden;
  border-radius: 10px;
}
.video-cards__card .video-wrapper > video {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
}
.video-cards__card .desc {
  margin: 20px;
  display: flex;
  font-size: 22px;
  color: #81D8D0;
  font-family: Bukhari, sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.costs {
  height: auto;
  display: flex;
}

.costs-video {
  width: 50vw;
  height: auto;
  overflow: hidden;
  position: relative;
}
.costs-video > video {
  position: absolute;
}

.costs-list {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: url("videos/video2.mp4");
}
.costs-list__header {
  font-family: Bukhari, sans-serif;
  font-size: 32px;
  text-align: center;
  margin: 0 auto;
  padding: 20px 0;
}
.costs-list__cost-cards-list {
  margin: 0 auto;
}
.costs-list__cost-card {
  background-color: #1C1C1C;
  width: 400px;
  height: 140px;
  margin: 20px 0;
  border-radius: 50px;
  padding: 20px;
}
.costs-list__cost-card__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.costs-list__cost-card__header-text {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  color: #81D8D0;
}
.costs-list__cost-card__header-cost {
  font-family: Bukhari, sans-serif;
  font-size: 20px;
  color: #81D8D0;
}
.costs-list__cost-card__desc {
  margin: 10px 0;
}
.costs-list__cost-card__desc-item {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  color: #81D8D0;
}

.feedbacks-list {
  background-color: black;
  padding: 5rem;
  flex-direction: column;
}
.feedbacks-list__header-text {
  font-family: Bukhari, sans-serif;
  font-size: 64px;
  color: #81D8D0;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.feedbacks-list__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.feedback {
  width: 500px;
  height: 350px;
  background-color: #1C1C1C;
  padding: 40px 0;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  border-radius: 20px;
}
.feedback__user {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.feedback__user-avatar {
  height: 80px;
  width: 80px;
}
.feedback__user-name {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  color: #81D8D0;
  margin: 0 auto;
}
.feedback__text {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  color: #81D8D0;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.footer {
  height: 500px;
  padding: 40px 15rem;
}
.footer__wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.footer__logo-container {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.footer__logo-container__logo {
  font-family: Bukhari, sans-serif;
  font-size: 25px;
  color: black;
  margin: 0 auto;
}
.footer__logo-container__copyrights {
  color: #747474;
  font-size: 12px;
  font-family: Montserrat, sans-serif;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__contacts__header {
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  color: black;
}
.footer__contacts__contact {
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  color: #747474;
}

.telegram-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #1C1C1C; /* Цвет кнопки */
  color: #81D8D0; /* Цвет текста */
  padding: 15px 20px;
  border-radius: 5px;
  text-decoration: none;
  display: none; /* Скрыть кнопку по умолчанию */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease;
  font-family: Bukhari, sans-serif;
  font-size: 17px;
}

.telegram-button:hover {
  background-color: #007bb5; /* Цвет кнопки при наведении */
}

a {
  text-decoration: none !important;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .header {
    width: 100vw;
  }
  .container {
    padding: 0 2rem;
  }
  .header-img {
    display: none;
  }
  .header-logo {
    width: 100%;
    background: url("imgs/header.JPG") no-repeat center;
    background-size: cover;
    padding: 20px 0 5rem 0;
  }
  .header-logo__logo {
    font-weight: 700;
    font-style: italic;
    display: block;
    position: absolute;
    color: #81D8D0;
    letter-spacing: -0.005em;
  }
  .header-logo__logo::before, .header-logo__logo::after {
    content: attr(data-text);
    display: block;
    position: relative;
    padding: 0 0.1em;
    z-index: 1;
  }
  .header-logo__logo::before {
    position: absolute;
    -webkit-text-stroke: 0.1em black !important;
    z-index: 0;
  }
  .header-logo__logo:first-child {
    transform: translate(-0.255em, -0.25em);
  }
  .header-logo__logo:last-child {
    transform: translate(0.255em, 0.25em);
  }
  .header-logo__wrapper {
    font-size: 20vmin;
    height: 2em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    mix-blend-mode: screen;
    position: relative;
  }
  .header-logo__des {
    font-size: 32px;
    color: white;
    -webkit-text-stroke: 1px #1C1C1C;
  }
  .portfolio {
    min-height: 800px;
  }
  .portfolio__text {
    font-size: 32px;
  }
  .slider {
    width: auto !important;
    height: 600px !important;
  }
  .video-cards {
    flex-direction: column;
    height: auto;
  }
  .video-cards__card {
    width: 300px;
    height: 600px;
  }
  .video-cards__cards-column {
    justify-content: center;
    align-items: center;
  }
  .video-wrapper {
    width: 300px !important;
    height: 500px !important;
  }
  .costs-video {
    display: none;
  }
  .costs-list {
    width: 100%;
  }
  .costs-list__cost-card {
    width: 300px;
    height: 140px;
  }
  .costs-list__cost-card__header-text {
    font-size: 18px;
  }
  .costs-list__cost-card__header-cost {
    font-size: 18px;
  }
  .costs-list__cost-cards-list {
    justify-content: center;
  }
  .feedbacks-list {
    padding: 20px 2rem;
  }
  .feedbacks-list__header-text {
    font-size: 32px;
  }
  .feedback {
    width: 300px;
    height: auto;
  }
  .footer {
    padding: 20px 2rem;
  }
  .footer__wrapper {
    flex-direction: column-reverse;
  }
  .footer__logo-container__logo {
    margin: 0;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .header {
    width: 100vw;
  }
  .container {
    padding: 0 2rem;
  }
  .header-img {
    display: none;
  }
  .video-cards {
    flex-direction: column;
    height: auto;
  }
  .video-cards__card {
    width: 300px;
    height: 600px;
  }
  .video-cards__cards-column {
    justify-content: center;
    align-items: center;
  }
  .video-wrapper {
    width: 300px !important;
    height: 500px !important;
  }
  .header-logo {
    width: 100%;
    background: url("imgs/header.JPG") no-repeat center;
    background-size: cover;
    padding: 20px;
  }
  .header-logo__logo {
    font-weight: 700;
    font-style: italic;
    display: block;
    position: absolute;
    color: #81D8D0;
    letter-spacing: -0.005em;
  }
  .header-logo__logo::before, .header-logo__logo::after {
    content: attr(data-text);
    display: block;
    position: relative;
    padding: 0 0.1em;
    z-index: 1;
  }
  .header-logo__logo::before {
    position: absolute;
    -webkit-text-stroke: 0.1em black !important;
    z-index: 0;
  }
  .header-logo__logo:first-child {
    transform: translate(-0.255em, -0.25em);
  }
  .header-logo__logo:last-child {
    transform: translate(0.255em, 0.25em);
  }
  .header-logo__wrapper {
    font-size: 20vmin;
    height: 2em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    mix-blend-mode: screen;
    position: relative;
  }
  .header-logo__des {
    color: black;
    -webkit-text-stroke: 1px #81D8D0;
  }
  .costs-video {
    display: none;
  }
  .costs-list {
    width: 100%;
  }
  .costs-list__cost-card {
    width: 500px;
    height: 140px;
  }
  .costs-list__cost-card__header-text {
    font-size: 24px;
  }
  .costs-list__cost-card__header-cost {
    font-size: 24px;
  }
  .costs-list__cost-card__desc-item {
    font-size: 20px;
  }
  .costs-list__cost-cards-list {
    justify-content: center;
  }
  .feedbacks-list {
    padding: 20px 2rem;
  }
  .feedbacks-list__header-text {
    font-size: 32px;
  }
  .feedbacks-list__list {
    flex-direction: column;
    align-items: center;
  }
  .feedback {
    width: 500px;
    height: auto;
  }
  .feedback__text {
    font-size: 20px;
  }
  .feedback__user-name {
    font-size: 22px;
  }
  .footer {
    padding: 20px 2rem;
  }
  .footer__wrapper {
    flex-direction: column-reverse;
  }
  .footer__logo-container__logo {
    margin: 0;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    padding: 0 4rem;
  }
  .costs-list__cost-card {
    width: auto;
  }
  .footer {
    padding: 20px 4rem;
  }
}
.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.slide-in-left {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.slide-in-left.visible {
  opacity: 1;
  transform: translateX(0);
}

.slide-in-right {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.slide-in-right.visible {
  opacity: 1;
  transform: translateX(0);
}

/*# sourceMappingURL=index.css.map */
